<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zyz.ssm.mapper.UserMapper">

	<resultMap type="User" id="userResultMap">
		<id property="id" column="id" />

		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="age" column="age" />
	</resultMap>

	<select id="addUser" parameterType="User">
		insert into user
		values(null,#{username},#{password},#{age})
	</select>

	<!-- 查询所有用户 -->
	<select id="selectAllUser" resultMap="userResultMap">
		SELECT * FROM user
	</select>
</mapper>
